html {
  scroll-behavior: smooth;
}

body {
  background-image: url("bg.jpg");
  margin: auto 0;
  font-family: Arial;
}

.flex-container {
  background-size: repeat;
  padding: 15px 0;
}

#cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 15px;
  padding: 15px;
  min-height: 70vh;
}




.card {
  width: 210px;
  height: 100%;
  border: 3px solid goldenrod;
  margin: 15px 5px;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: rgba(255, 255, 255, 2) 0px 5px 15px,
    inset rgba(255, 255, 255, 2) 0px -10px 20px;
  cursor: pointer;
}

.picture {
  width: 100%;
  height: auto;
}

.title {
  background-color: white;
  padding: 5px;
  text-align: center;
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
}

/* The Model (background) */
.model {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Disable scroll*/
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Model Content */
.model-content
 {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 4% 4%;
  border: 3px solid #888;
  border-radius: 20px;
  width: 700px;
  background: linear-gradient(
    to right,
    rgba(239, 239, 239, 100%) 0%,
    rgba(219, 219, 219, 100%) 50%,
    rgba(239, 239, 239, 100%) 100%
  );
}



.hidden {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-column-gap: 5%;
  grid-row-gap: 0;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 45px;
  font-weight: bold;
  z-index: 1;
  user-select: none;
  margin: -4vw -3vw 0 0;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.portrait {
  grid-row: 1 / span 6;
  width: 100%;
  height: auto;
  border: 4px solid goldenrod;
  user-select: none;
}

.char-name {
  font-size: 30px;
  font-weight: bolder;
}

.stats {
  font-size: 20px;
}

.footer {
  width: 100%;
  height: 20px;
  background-color: black;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  font-family: Arial;
  color: white;
  padding: 20px 0;
}
.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}